html,body{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #FFD100;
  font-family: 'Poiret One', cursive;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  color: white;
  font-size: 10rem;
  font-family: 'Megrim', cursive;
  text-align: center;
  margin: 3px;
  padding: 10px;
}

.logosub{
  color: white;
  font-size: 3rem;
  font-family: 'Megrim', cursive;
  text-align: center;
  margin: 1px;
  padding: 10px;
}

h1,h2,h3,h4,h5,h6{
  font-size: 3rem;
  color: #FFD100;
}

p{
  font-size: 1.5rem;
  color: #708090;
}

a{
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

section{
  margin: 5px;
  padding: 20px;
  text-align: justify;
  background-color: #F5F5F5;
}

#footer{
  margin: 3px;
  padding: 2px;
  font-size: 3rem;
  color: #F89C00;
}

#fontacolor{
  margin: 10px;
  padding: 5px;
  color: #708090;
}

.fontawesomecolor{
  color: white;
  position: center;
}


